@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
*,*::before,*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
/* header start */
header, header .wrapper { width: 100%; }

header {
  padding: 20px 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.1);
}

.header-content { padding: 0 2%; }
.header-content,nav,.logout-btn { display: flex; }
.hamburger { display: none; }
.logo { flex-basis: 7.5%; }
nav,.logout-btn { align-items: center; }

nav {
  margin: 0 2%;
  flex-basis: 82.2%;
  justify-content: space-between;
}

.left-menu,.right-menu {
  display: flex;
  gap: 20px;
}

.nav-list a,.logout-btn a {
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  color:  rgba(255,255,255,.7);
}
/* header end */
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* banner section start */
.banner {
  max-height: 626px;
  height: 626px;
  background: url('../images/home-new-bg-free-img.jpeg') no-repeat fixed top -68px center;
  background-size: cover;
  color: rgb(255,255,255);
}


.banner .wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  background: linear-gradient(180deg,rgba(33,103,148,.5),rgba(0,0,0,.5));
}

.banner-content {
  width: 62%;
  position: absolute;
  top: 50%;
  left: 19%;
  transform: translateY(-50%);
}

.banner-btns {
  display: flex;
  gap: 15px;
}

.white-btn,.find-more {
  padding: 10px 18px;
  border: 1px solid rgb(255,255,255);
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all .4s ease;
}

.white-btn {
  background: rgb(255,255,255);
  color: rgb(0,0,0);
}

.find-more { color: rgb(255,255,255); }

.banner-content h2 {
  width: 50%;
  font-size: 45px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: capitalize;
}

.banner-content span {
  padding: 25px 0 32px;
  display: inline-block;
  font-size: 18px;
  text-transform: capitalize;
}
/* banner section end */







/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  