@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
*,*::before,*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 72.1%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
/* header start */
header, header .wrapper { width: 100%; }

header {
  padding: 20px 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.1);
}

.header-content { padding: 0 2%; }
.header-content,nav,.logout-btn { display: flex; }
.logo { flex-basis: 7.5%; }
nav,.logout-btn { align-items: center; }
.logout-btn { padding-top: 3px; }

nav {
  margin: 0 2%;
  flex-basis: 82.2%;
  justify-content: space-between;
}

.left-menu,.right-menu {
  display: flex;
  gap: 20px;
}

.nav-list a,.logout-btn a {
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  color:  rgba(255,255,255,.9);
  transition: all .3s ease;
}

/* hamburger start */
.hamburger {
  width: 41px;
  height: 35px;
  border-radius: 2px;
  display: none; 
  position: relative;
  cursor: pointer;
}

.bar {
  width: 50%;
  height: 3px;
  border-radius: 4px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgb(255,255,255);
  text-indent: -99999px;
  transition: all 0.3s ease;
  transform: translate(-50%,-50%);
}

.category-page .bar { background-color: rgb(146, 144, 144); }

.bar::before,
.bar::after {
  content: "";
  width: 100%;
  height: inherit;
  position: absolute;
  left: 0;
  background-color: inherit;
  transition: all .3s ease;
}

.bar::before { top: -6px; }
.bar::after { top: 6px; }
.active-hamburger .bar { transform: translate(-50%,-50%) rotate(45deg); }
.active-hamburger .bar::before {  transform: translateY(6px) rotate(0); }
.active-hamburger .bar::after { transform: translateY(-6px) rotate(-90deg); }
/* hamburger end */
.active-nav a{ color: rgb(47,132,214); }
/* header end */
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* banner section start */
.banner {
  max-height: 626px;
  height: 94vh;
  background: linear-gradient(180deg,rgba(33,103,148,.5),rgba(0,0,0,.5)),url('../images/home-new-bg-free-img.jpeg') no-repeat fixed top 75% center;
  background-size: cover;
  color: rgb(255,255,255);
}

.banner .wrapper {
  width: 62%;
  height: 100%;
  position: relative;
}

.banner-content {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.banner-btns {
  display: flex;
  gap: 15px;
}

.white-btn,.find-more {
  padding: 10px 18px;
  border: 1px solid rgb(255,255,255);
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all .4s ease;
}

.white-btn {
  background: rgb(255,255,255);
  color: rgb(0,0,0);
}

.find-more { color: rgb(255,255,255); }

.banner-content h2 {
  width: 50%;
  font-size: 45px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: capitalize;
}

.banner-content span {
  padding: 25px 0 32px;
  display: inline-block;
  font-size: 18px;
  text-transform: capitalize;
}
/* banner section end */

/* clients section start */
.clients { padding: 60px 0; }

.clients .wrapper {
  width: 60%;
  position: relative;
}

.clients-items {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
}

.clients-items::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}

.clients-list { padding: 0 37px; }

.client-controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 70%;
  left: 0;
  transform: translateY(-50%);
}

.clients-image { width: 90px; }
.client-btn { text-indent: -9999px; }

.client-btn::before {
  color: rgb(226, 219, 219);
  font-family: "FontAwesome";
  font-size: 13px;
  float: left;
  text-indent: 0;
  transition: all .3s ease;
}

.prev::before { content: '\f053'; }
.next::before { content: '\f054'; }
/* clients section end */

/* offers section start */
.offers { padding-bottom: 82px; }
.offers .wrapper { width: 60.2%; }

.offer-items {
  display: flex;
  gap: 14px;
}

.offer-list { 
  position: relative;
  flex-basis: 33%;
}

.offer-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.45);
  color: rgb(255,255,255);
}

.offer-content h3 {
  padding: 5px 0 5px 11.8%;
  font-size: 17px;
  font-weight: 600;
  text-transform: capitalize;
}

.offer-content p {
  padding: 0 7% 0 11.8%;
  font-size: 11px;
  line-height: 2;
}

.offer-image {
  max-height: 340px;
  height: 340px;
}

.offer-image img{
  height: 100%;
  object-fit: cover;
}

.offer-list:nth-child(1) .offer-image img { object-position: right; }
.offer-list:nth-child(2) .offer-image img { object-position: left; }
.offer-list:nth-child(3) .offer-image img { object-position: right; }
.offer-btn { padding: 10px 0 30px 11.9%; }
/* offers section end */

/* products section start */
.products {
  padding: 60px 0 32px;
  background: rgb(245,247,249);
}

.products .wrapper { width: 69%; }

.sectin-heading {
  padding: 20px 0;
  position: relative;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}

.sectin-heading::after {
  content: '';
  width: 70px;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  background: rgb(81,152,220);
  transform: translateX(-50%);
}

.product-items {
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 23px 14px;
}

.product-list { flex: 1 0 18.5%; }

.product-details {
  display: flex;
  flex-direction: column;
}

.product-details h3 {
  padding: 10px 0 7px;
  font-size: 11px;
  font-weight: 600;
  text-transform: capitalize;
}

.canceled-price { text-decoration: line-through; }
.rating-items,.color-items { display: flex; }
.color-items { gap: 10px; }
.product-category { text-transform: capitalize; }
.product-category { font-size: 9px; }

.product-price { 
  padding: 7px 0 4px;
  font-size: 10px;
  font-weight: 600;
}

.product-category,.canceled-price { color: rgb(137, 130, 130); }

.rating-list span,.color-list span{
  display: inline-block;
  text-indent: -9999px;
}


.rating-list span::before,.color-list span::before {
  font-family: 'FontAwesome';
  float: left;
  text-indent: 0;
}

.rating-list span::before {
  content: '\f005';
  font-size: 9px;
}

.color-list span::before {
  content: '\f111';
  padding: 10px 0;
  font-size: 13px;
}

.blue::before { color: rgb(47,132,214); }
.green::before { color: rgb(129,215,66); }
.orange::before { color: rgb(206,89,46); }
.black::before { color: rgb(0,0,0); }
.brown::before { color: rgb(170,118,39); }
.light-blue::before { color: rgb(54,177,193); }
.light-orange::before { color:rgb(244,153,33); }
.purple::before { color:rgb(206,37,232); }
/* products section end */

/* special section start */
.special { background: rgb(245,247,249); }

.special .wrapper{
  background: linear-gradient(90deg,rgb(62,127,181,.8),rgba(0,0,0,0)),url('../images/banner-03.jpeg') no-repeat fixed top center;
  background-size: cover;
  color: rgb(255,255,255);
}

.special-content { padding: 65px 7.2%; }
.special-content span,h3,.special-discount { text-transform: capitalize; }

.special-content span {
  padding: 10px 0 20px;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
}

.special-content h3 {
  font-size: 28px;
  font-weight: 600;
}

.special-description {
  width: 44%;
  padding: 10px 0;
  font-size: 10px;
  line-height: 2;
}

.special-discount { font-size: 14px; }
.special-discount span,.footer-bottom span{ text-transform: lowercase; }
.special-discount,.special-discount span { font-weight: 600; }
.special-btn { padding: 8px 0 2px; }
.special .white-btn { padding: 10px 20px; }
/* special section end */

/* services section start */
.services {
  padding: 82px 0 91px;
  background: rgb(245,247,249);
}

.services .wrapper { width: 60%; }
.service-image img { width: 20%; }

.service-items {
  display: flex;
  gap: 30px;
}

.service-list {
  flex-basis: 27%;
  text-align: center;
}

.service-list h4 {
  padding: 20px 0 10px;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}

.service-list p {
  font-size: 11px;
  line-height: 2;
}
/* services section end */

/* category page start */
/* category header start */
.category-page header {
  padding: 22px 0;
  position: static;
  background: rgb(255,255,255);
}

.category-page .header-content { padding: 0 1.8%; }
.category-page .logo { flex-basis: 6.7%;} 
.category-page nav { flex-basis: 83.2%;} 
.category-page .nav-list a,.category-page .logout-btn a { 
  color: rgb(0,0,0);
  font-weight: normal;
  transition: all .3s ease;
}
/* category header end */

/* category main section start */
.category-main { background: rgb(245,247,249); }
.category-main .wrapper { width: 69%; }

.main-content {
  padding: 45px 0;
  display: flex;
  gap: 44px;
}

.side-bar { flex-basis: 21.5%; }

.store-container {
  padding: 59px 8%;
  flex-basis: 77%;
  background: rgb(255,255,255);
}

/* sidebar start */
/* search form start */
.search-form {
  display: flex;
  gap: 5px;
}

.search-form input { outline: none; }
.search-form span { position: relative; }
.search-form .input-group{ flex-basis: 86%; }

.search-form .input-group input{
  width: 100%;
  padding: 8px 5px;
  border: 1px solid rgb(224, 221, 221);
  font-size: 11px;
}

.search-form .input-control input{
  padding: 8px 13px;
  border: none;
  background: rgb(47,132,214);
  text-indent: -9999px;
  transition: all .3s ease;
}

.search-form span::before {
  content: '\f054';
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgb(255,255,255);
  font-family: "FontAwesome";
  font-size: 11px;
  transform: translate(-50%,-50%);
}
/* search form end */

/* price form start */
.price-form {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
}

.price-form .input-group {
  flex-basis: 100%;
  position: relative;
}

.price-form .input-group label {
  display: block;
  font-size: 14px;
  text-transform: capitalize;
}

.input-group label span { text-transform: none; }

.price-form .input-group > input {
  width: 100%;
  margin: 10px 0;
  position: absolute;
  cursor: pointer;
}

.price-form .input-group > input {
  outline: none;
  background: transparent;
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 30%,
    rgb(0,0,0) 30%,
    rgb(0,0,0) 60%,
    transparent 60%,
    transparent 100%
    );
    -webkit-appearance: none;
  }

.price-form .input-group > input::-webkit-slider-thumb {
  width: 14px;
  height: 14px;
  border: 1px solid rgb(0,0,0);
  border-radius: 100%;
  background: rgb(0,0,0);
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}

.price-form .input-control {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.filter-btn input {
  padding: 4px 13px;
  border: none;
  outline: none;
  background: rgb(47,132,214);
  color: rgb(255,255,255);
  font-size: 9px;
  text-transform: uppercase;
  transition: all .3s ease;
}

.price-range {
  font-size: 10px;
  text-transform: capitalize;
}

.min-price,.max-price { font-weight: 600; }
/* price form end */

/* categories part start */
.categories h2,.sellers h2 {
  font-size: 14px;
  text-transform: capitalize;
}

.categories h2 { padding-top: 10px; }

.category-items {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.category-list {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
}

.category-list a {
  color: rgb(0,0,0);
  text-transform: capitalize;
  transition: all .3s ease;
}

.active-category a { color: rgb(47,132,214); }
/* categories part end */

/* sellers part start */
.sellers h2 { padding: 20px 0 15px; }

.seller-items {
  display: flex;
  flex-direction: column;
}

.seller-list {
  padding: 10px 0;
  border-bottom: 1px solid rgb(240, 236, 236);
  display: flex;
  gap: 10px;
}

.seller-list .product-image { flex-basis: 25%; }
.seller-list h3 { padding: 0 0 5px; }
.seller-list .product-price { padding: 0; }
.seller-list .product-price,.seller-list h3 { font-weight: normal; }
/* sellers part end */
/* sidebar end */

/* store start */
/* breadcrumb start */
.breadcrumb { padding-bottom: 23px; }
.breadcrumb li+li:before { content: "/\00a0"; }

.breadcrumb a ,.breadcrumb li+li:before {
  color: rgb(137, 130, 130);
  font-size: 10px;
  text-transform: capitalize;
}
/* breadcrumb end */

/* result start */
.result {
  display: flex;
  justify-content: space-between;
}

.result li { font-size: 11px; }
.result-dropdown { color: rgb(137, 130, 130); }

.dropdown-list { 
  position: relative;
  flex-basis: 27%;
}

.result-dropdown::after {
  content: '\f078';
  position: absolute;
  top: 0;
  right: 0;
  font-family: "FontAwesome";
  font-size: 10px;
}
/* result end */

/* product list start */
.store-container .product-items {
  padding: 37px 0;
  gap: 25px 14px;
}

.store-container .product-list { flex: 1 0 23.5%; }
.store-container .product-list h3 { font-size: 10px; }
/* product list end */

/* pagination start */
.pagination-items {
  padding-bottom: 10px;
  display: flex;
  gap: 3px;
}

.pagination-list span{
  padding: 8px 11px;
  display: inline-block;
  border: 1px solid rgb(0,0,0);
  font-size: 10px;
}

.active-pagination {
  background: rgb(0,0,0);
  color: rgb(255,255,255);
}

.pagination-list .next-icon {
  padding: 10px 10px 6px;
  text-indent: -9999px;
}

.next-icon::before {
  content: '\f178';
  font-family: "FontAwesome";
  font-size: 8px;
  text-indent: 0;
  float: left;
}
/* pagination end */

/* store end */
/* category main section end */
/* category page end */

/* login page start */
.login-page { overflow-y: hidden; }

.login-page header {
  position: static;
  background: rgb(0,0,0);
}

.login-page header .wrapper {
  display: flex;
  justify-content: center;
}

.user-login {
  padding-bottom: 6px;
  background: rgb(189, 183, 183);
}

.user-login .form-container { height: 85.8vh; }

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-login form {
  width: 30%;
  min-width: 300px;
  padding: 30px 20px;
  border-radius: 10px;
  background: rgb(255,255,255);
}

.user-login form { box-shadow: 6px 6px 14px rgb(146, 144, 144); }

.user-login form h2 {
  padding: 10px 0 20px 0;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}

.login-page .input-group {
  padding: 0 0 20px 0;
  display: flex;
  flex-direction: column;
}

.login-page .input-group label {
  padding-bottom: 7px;
  text-transform: capitalize;
}

.login-page .input-group input,.login-page .input-control input {
  width: 100%;
  padding: 8px 2%;
  border: 1px solid rgb(189, 183, 183);
  outline: none;
}

.login-page .input-control { padding: 20px 0; }

.login-page .input-control input {
  padding: 10px;
  border: none;
  background: rgb(0,0,0);
  color: rgb(255,255,255);
  font-weight: bold;
  font-size: 17px;
  transition: all .5s ease;
}

.login-page .input-control input:hover { background: rgb(146, 144, 144);}
.input-error { color: rgb(255,0,0); }
.hide-content { display: none; }
/* login page end */
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer .wrapper { width: 62.3%; }
/* footer top start */
.footer-top {
  padding: 25px 0 23px;
  border-top: 1px solid rgb(224, 221, 221);
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
}
/* footer top end */

/* footer middle start */
.footer-logo { width: 20%; }

.footer-middle {
  padding: 52px 0 68px;
  border-top: 1px solid rgb(243, 237, 237);
  border-bottom: 1px solid rgb(243, 237, 237);
}

.footer-items {
  display: flex;
  gap: 30px;
}

.footer-list:not(:first-child) { flex-basis: 19%; }
.footer-list:last-child { flex-basis: 24%; }

.footer-list h5 {
  padding: 35px 0;
  font-size: 17px;
  font-weight: 600;
}

.her-items,.him-items {
  display: flex;
  flex-direction: column;
}

.footer-list h6 {
  padding-bottom: 20px;
  font-size: 15px;
  font-weight: bold;
  text-transform: capitalize;
}

.footer-list a {
  color: rgb(137, 130, 130);
  font-size: 11px;
  text-transform: capitalize;
  line-height: 1.8;
}

.footer-list .input-group input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid rgb(243, 237, 237);
}

.footer-list .input-group input::placeholder { font-size: 10px; }
.footer-list .input-group input,.footer-list .input-control input { outline: none; }

.footer-list .input-control input {
  padding: 10px 20px;
  margin-top: 15px;
  border: none;
  background: rgb(47,132,214);
  color: rgb(255,255,255);
  font-size: 11px;
  text-transform: uppercase;
  transition: all .3s ease;
}
/* footer middle end */

/* footer bottom start */
.footer-bottom { padding: 22px 0 20px; }

.footer-bottom .wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-bottom p {
  font-size: 10px;
  text-transform: capitalize;
}

.social-items {
  display: flex;
  gap: 20px;
}

.social-list a { text-indent: -9999px; }

.social-list a::before {
  color: rgb(0,0,0);
  font-family: 'FontAwesome';
  font-size: 12px;
  float: left;
  text-indent: 0;
  transition: all .3s ease;
}

.facebook::before { content: '\f39e'; }
.yotube::before { content: '\f167'; }
.twitter::before { content: '\f099'; }
.instagram::before { content: '\f16d'; }
.google::before { content: '\f1a0'; }
.yelp::before { content: '\f1e9'; }
/* footer bottom end */

/* category page footer start */
/* footer middle start */
.category-page .footer-middle { padding: 55px 0 68px; }

.category-page .footer-list h6 {
  padding-bottom: 15px;
  font-size: 13px; 
  font-weight: normal;
}
/* footer middle end */

/* footer bottom start */
.footer-bottom { padding: 24px 0 15px; }
/* footer bottom end */
/* category page footer end */

 /*=================================
  footer styling ends here
=================================*/ 

/* for hover effects */
@media only screen and (min-width: 995px) {
  /* header start */
  .nav-list a:hover { color: rgb(99, 177, 251); }
  .category-page .nav-list a:hover { color: rgb(47,132,214); }
  .logout-btn a:hover { color: rgb(255,0,0); }
  /* header end */
  /* banner section start */
  .white-btn:hover {
    background: rgb(27,95,127);
    color: rgb(255,255,255);
  }
  .find-more:hover {
    background: rgb(255,255,255);
    color: rgb(27,95,127);
  }
  /* banner section end */
  /* clients section start */
  .client-btn:hover::before { color: rgb(0,0,0); }
  /* clients section end */
  /* footer start */
  .footer-list a:hover {
    color: rgb(47,132,214);
    text-decoration: underline;
  }

  .footer-list .input-control input:hover,.filter-btn input:hover,.search-form .input-control input:hover { background: rgb(27,95,127); }
  .facebook:hover::before{  color: rgb(0, 140, 255); }
  .yotube:hover::before{ color: rgb(255, 0, 0); }
  .google:hover::before{ color: rgb(32, 202, 72); }
  .twitter:hover::before{ color: rgb(0, 200, 255); }
  .instagram:hover::before{ color: rgb(245, 12, 245); }
  .yelp:hover::before{ color: rgb(255, 0, 0); }
  /* footer end */

  /* category page start */
  .category-list a:hover { color: rgb(47,132,214); }
  /* category page start */
}

/*media query starts*/
/*media query for 1280px starts here*/
@media only screen and (max-width: 1280px) {
  /* wrapper start */
  .offers .wrapper,.products .wrapper,.special .wrapper,.services .wrapper,footer .wrapper { width: 80%; }
  /* wrapper end */
  /* banner section start */
  .banner-content h2 {
    width: 59%;
    font-size: 40px;
  }
  /* banner section end */
}  
/*media query for 1024px starts here*/
@media only screen and (max-width: 1024px) { 
  /* banner section start */
  .banner { height: 80vh; }
  /* banner section end */

  /* category page start */
  .category-main .wrapper { width: 94%; }
  /* category page end */
}
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  /* wrapper start */
  .offers .wrapper,.products .wrapper,.special .wrapper,.services .wrapper,footer .wrapper { width: 90%; }
  /* wrapper end */

  /* banner section start */
  .banner-content h2 { font-size: 32px; }
  /* banner section start */

  /* clients section start */
  .clients { padding: 40px 0; }
  /* clients section start */

  /* offers section start */
  .offers { padding-bottom: 45px; }
  /* offers section end */

  /* product section start */
  .products { padding: 18px 0; }
  .product-items { justify-content: center; }
  .product-list { flex: 0 0 23%; }
  /* product section end */

  /* services section start */
  .services { padding: 60px 0; }
  /* services section start */

  /* footer start */
  .footer-logo { width: 15%; }
  .footer-list h5 { padding: 16px 0; }
  .footer-middle,.category-page .footer-middle  { padding: 28px 0; }
  .footer-items { flex-wrap: wrap; }
  .footer-list:first-child { flex-basis: 100%; }
  .footer-list:not(:first-child) { flex-basis: 20%; }
  .footer-list:last-child { flex-basis: 40%; }
  /* footer end */
}
/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {
  /* wrapper start */
  .offers .wrapper,.products .wrapper,.special .wrapper,.services .wrapper,footer .wrapper { width: 96%; }
  /* wrapper end */
  /* header start */
  .logo { flex-basis: 10.5%; }
  .header-content { justify-content: space-between; }

  .logout-btn { 
    padding-top: 0;
    margin-right: 10%
  }

  .hamburger {
    padding: 5px;
    display: block;
    position: absolute;
    z-index: 3;
    top: 11px;
    right: 2%;
  }

  nav {
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    margin: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: -100%;
    flex-direction: column;
    justify-content: stretch;
    background-color: rgb(0,0,0);
    transition: all .5s ease;
  }

  .active-hamburger + nav {
    left: 0;
    animation: fadeIn .8s ease;
  }

  @keyframes fadeIn {
    0% { opacity: 0; background: none; }
    100% { opacity: 1; background-color: rgb(0,0,0); }
  }
  
  .left-menu,.right-menu {
    width: inherit;
    padding-top: 36px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
  }

  .nav-list a { font-size: 23px; }
  .category-page .nav-list a { color: rgb(255,255,255); }
  /* header end */

  /* banner section start */
  .banner-content h2 { width: 75%; }
  /* banner section end */

  /* offers section start */
  .offer-items {
    justify-content: center;
    flex-wrap: wrap;
  }

  .offer-list { flex: 1 0 45%; }
  /* offers section end */

  /* products section start */
  .product-list { flex: 0 0 46%; }
  /* products section end */

  /* special section start */
  .special .wrapper {
    background: linear-gradient(90deg,rgb(62,127,181,.8),rgba(0,0,0,0)),url('../images/banner-03.jpeg') no-repeat fixed right 37% center;
    background-size: cover;
  }
  /* special section end */

  /* services section start */
  .service-items {
    flex-wrap: wrap;
    justify-content: center;
  }

  .service-list { flex-basis: 46%; }
  /* services section end */

  /* footer start */
  .footer-top {
    padding: 20px 0;
    font-size: 14px;
  }
  /* footer start */

  /* category page start */
  /* header start */
  .category-page .hamburger { top: 8px; }
  .category-page .logo { flex-basis: 10.7%; }
  /* header end */

  /* sidebar start */
  .category-page header { padding: 15px 0; }
  .side-bar { flex-basis: 25.5%; }
  /* sidebar end */

  /* store start */
  .store-container { padding: 20px; }
  .store-container .product-list { flex: 1 0 45.5%; }
  /* store end */
  /* category page end */
}
/*media query for 640px starts here*/
@media only screen and (max-width: 640px) {
  /* header start */
  header { padding: 14px 0; }
  .hamburger { top: 6px; }
  /* header end */

  /* banner section start */
  .banner { height: 50vh; }

  .banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 54%;
    text-align: center;
  }

  .banner-content h2 {
    width: 100%;
    font-size: 19px;
  }

  .banner-content span {
    padding: 10px 0 15px;
    font-size: 14px;
  }
  /* banner section end */

  /* special section start */
  .special-content { text-align: center; }
  .special-description { width: 100%; }
  .special-content span { padding: 10px 0; }
  /* special section end */

  /* footer start */
  .footer-list:not(:first-child) { flex-basis: 23%; }
  .footer-list:last-child { flex-basis: 40%; }
  /* footer end */

  /* category page start */
  /* header start */
  .category-page .hamburger { top: 5px; }
  /* header end */

  .main-content { flex-direction: column; }
  .side-bar { order: 2; }
  .store-container { order: 1; }
  .search-form,.price-form { width: 50%; }

  /* sellers part start */
  .seller-items {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
  }

  .seller-list { flex-basis: 45%; }
  /* sellers part end */

  /* pagination start */
  .pagination-items { justify-content: center; }
  /* pagination end */

  /* category page end */
}
/*media query for 480px starts here*/
@media only screen and (max-width: 480px) {
  /* offers section start */
  .offer-list { flex: 0 0 75%; }
  .offer-list h3 { font-size: 20px; }

  .offer-content p {
    font-size: 13px;
    line-height: 1.6;
  }
  /* offers section end */

  /* porducts section start */
  .sectin-heading { font-size: 24px; }
  /* porducts section end */

  /* services section start */
  .services { padding: 26px 0; }
  .service-list { flex-basis: 77%; }

  .service-list p {
    font-size: 12px;
    line-height: 1.4;
  }
  /* services section end */

  /* footer start */
  .footer-top { text-align: center; }
  .footer-logo { margin: 0 auto; }
  .footer-list h6,.category-page .footer-list h6 { padding-bottom: 9px; }
  .footer-bottom { padding: 14px 0; }

  .footer-items .footer-list {
    flex-basis: 100%;
    text-align: center;
  }

  .footer-list:last-child { 
    margin: 0 auto;
    flex-basis: 80%;
  }

  .footer-bottom .wrapper {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  /* footer end */

  /* category page start */
  /* sellers part start */
  .seller-list { flex-basis: 100%; }
  .seller-list .product-image { flex-basis: 15%; }
  .seller-list .product-details h3 { font-size: 12px; }
  /* sellers part end */
  /* category page end */
}
/*media query for 375px starts here*/
@media only screen and (max-width: 375px) {
  .white-btn, .find-more { font-size: 8px; } 

  /* header start */
  .nav-list a { font-size: 18px; }
  .logo { flex-basis: 19.5%; }
  .logout-btn { margin-right: 15%; }
  /* header end */

  /* offers section start */
  .offer-list { flex: 0 0 97%; }
  /* offers section end */

  /* footer start */
  .footer-logo { width: 22%; }
  /* footer end */

  /* category page start */
  /* header start */
  .category-page .logo { flex-basis: 18.7%; }
  /* header end */

  /* search form start */
  .search-form, .price-form { width: 100%; }
  /* search form end */

  /* result start */
  .dropdown-list { flex-basis: 34%; }
  /* result end */
  /* category page end */
}
